/* Login.css */
.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #f8f9fa; /* Light background */
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  color: #007bff;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 0.75rem;
}